@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i&subset=cyrillic');
@import url('https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap-grid.min.css');
html {
  font-family: 'Roboto', sans-serif;
}
body {
  background-color: #f2f2f2;
}
.container {
  padding-right: 8px;
  padding-left: 8px;
}
.row {
  margin-right: -8px;
  margin-left: -8px;
}
.col,
[class*="col-"] {
  padding-right: 8px;
  padding-left: 8px;
}
.sr-only {
  display: none;
}
.h-100 {
  height: 100%;
}
.header {
  min-height: 72px;
  background-color: #ffffff;
  box-shadow: 0 0 16px rgba(38, 38, 38, 0.16);
}
.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.button {
  display: inline-block;
  min-width: 72px;
  margin-left: 12px;
  padding-right: 8px;
  padding-left: 8px;
  text-align: center;
  border-radius: 2px;
  font-size: 11px;
  font-weight: 500;
  line-height: 40px;
}
.button_default {
  color: #1d1d1d;
  border: 1px solid #e0e0e0;
  background: transparent;
}
.button_primary {
  color: #ffffff;
  border: none;
  background-color: #262626;
}
.button_cart {
  display: none;
}
.logo {
  display: flex;
  flex-direction: column;
  height: 72px;
  justify-content: center;
}
.logo__image {
  height: 11px;
}
.order {
  display: none;
}
.menu-main {
  font-size: 0;
}
.jumbotron {
  height: 256px;
  background-image: url('../img/jumbotron.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.card {
  padding: 24px 16px;
  transform: translateY(55px);
  text-align: center;
  border-radius: 2px;
  background-color: #ffffff;
  box-shadow: 0 0 16px rgba(117, 117, 117, 0.2);
}
.card__title {
  margin-top: 0;
  margin-bottom: 40px;
  color: #1d1d1d;
  font-size: 24px;
  font-weight: 400;
}
.card__subtitle {
  margin-top: 0;
  margin-bottom: 16px;
  color: #626262;
  font-size: 14px;
  font-weight: 400;
}
.card__time {
  display: inline-block;
  padding: 8px 16px;
  color: #ffffff;
  border-radius: 16px;
  background-color: #262626;
  font-size: 13px;
  font-weight: 400;
}
